<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Add Movies</title>
</head>

<body>
    <div class="d-flex">

        <%- include("./partials/sidebar.ejs", {active: "addMovies" }) %>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-12">
                    <% if(success.msg) { %> 
                        <div id="alert" class="alert alert-success alert-dismissible fade show w-50 mx-auto" role="alert">
                            <strong>Successful!</strong> <%= success.msg %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        <h2> </h2>
                    <% } %> 
                </div>
                <div class="col col-md-6 mx-auto py-5">
                    <form enctype="multipart/form-data" class="border rounded p-5">
                        <h3 class="text-center my-2">Add movies items</h3>
                        <div class="mb-3">
                            <label class="form-label">Movie Name</label>
                            <input type="text" name="name" class="form-control name"  />
                            <p class="error name-error"></p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Image Upload</label>
                            <input type="file" name="avatar" class="form-control avatar" required />
                            <p class="error avatar-error"></p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Movie Date</label>
                            <input type="date" name="movieDate" id="date" class="form-control movieDate" min=<%= new Date().toISOString().split('T')[0] %> />
                            <p class="error movieDate-error"></p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="number" name="price" min="0" class="form-control price"  />
                            <p class="error price-error"></p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea class="form-control description" name="description" rows="3"></textarea>
                            <p class="error description-error"></p>
                            <p class="error common-error"></p>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

        

        <script>
            const form = document.querySelector("form");

            form.addEventListener("submit", async function(e) {
                e.preventDefault();
                const formData = new FormData(form)
                
                let response = await fetch("/admin", {
                    method: "POST",
                    body: formData
                });
                let result = await response.json()
                
                if (result.errors) {
                    Object.keys(result.errors).forEach((fieldName)=>{
                        console.log(form[fieldName])
                        form[fieldName].classList.add("input-error");
                        const errorContent = document.querySelector(`.${fieldName}-error`);
                        errorContent.textContent = result.errors[fieldName].msg
                    })
                } else {
                    swal({
                        title: "Good job!",
                        text: result.msg,
                        icon: "success",
                    });
                    setTimeout(() => {
                        location.reload()
                    }, 2000);
                }
            });
            
        </script>
        
    <%- include("./partials/scripts.ejs") %>

</body>

</html>