<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/navigation.ejs") %>

    <div class="container">
        <div class="row align-items-center" style="min-height: 80vh;">
        <% if (data) { %>
            <article class="col-lg-3 mx-auto">
                <div class="card shadow">
                    <div class="image-container rounded">
                        <img src="<%- data.imageURL %>" class="w-100" alt="img" />
                    </div>
                    <div class="card-body overlay">
                        <h5 class="card-title">
                            Name: <%- data.name %>
                        </h5>
                        <h6>
                            Price: <%- data.price %>
                        </h6>
                        <p class="card-text">
                            Description: <%- data.description %>
                        </p>
                    </div>
                </div>
            </article>
            <div class="col-lg-8 mx-auto">
                <form class="border rounded p-5" action="/booking" method="POST" enctype="multipart/form-data">
                    <h3 class="text-center my-2">Buy your Ticket</h3>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" required value="mehedi@gmail.com" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" required value="mehedi" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Available Ticket</label>
                        <input type="number" min="0" value="12" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label"> Select Date</label>
                        <div>
                            <select class="form-select" name="movieTime">
                                <option value="none" selected>2020-12-02</option>
                                <option value="2020-12-03">2020-12-03</option>
                                <option value="2020-12-04">2020-12-04</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="number" value="<%= data.price %>" readonly class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-dark w-100">
                        <i class="fas fa-shopping-bag me-1"></i>
                        Buy Now</button>
                </form>
            </div>
            
            <% } else { %>
                <div>
                    <?xml version="1.0" encoding="utf-8"?>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto; animation-play-state: running; animation-delay: 0s;" width="194px" height="194px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <circle cx="84" cy="50" r="10" fill="#e15b64" style="animation-play-state: running; animation-delay: 0s;">
                    <animate attributeName="r" repeatCount="indefinite" dur="0.4464285714285714s" calcMode="spline" keyTimes="0;1" values="7;0" keySplines="0 0.5 0.5 1" begin="0s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                    <animate attributeName="fill" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="discrete" keyTimes="0;0.25;0.5;0.75;1" values="#e15b64;#abbd81;#f8b26a;#f47e60;#e15b64" begin="0s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                </circle><circle cx="16" cy="50" r="10" fill="#e15b64" style="animation-play-state: running; animation-delay: 0s;">
                <animate attributeName="r" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;7;7;7" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                <animate attributeName="cx" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                </circle><circle cx="50" cy="50" r="10" fill="#f47e60" style="animation-play-state: running; animation-delay: 0s;">
                <animate attributeName="r" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;7;7;7" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.4464285714285714s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                <animate attributeName="cx" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.4464285714285714s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                </circle><circle cx="84" cy="50" r="10" fill="#f8b26a" style="animation-play-state: running; animation-delay: 0s;">
                <animate attributeName="r" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;7;7;7" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.8928571428571428s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                <animate attributeName="cx" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.8928571428571428s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                </circle><circle cx="16" cy="50" r="10" fill="#abbd81" style="animation-play-state: running; animation-delay: 0s;">
                <animate attributeName="r" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;7;7;7" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.3392857142857142s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                <animate attributeName="cx" repeatCount="indefinite" dur="1.7857142857142856s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.3392857142857142s" style="animation-play-state: running; animation-delay: 0s;"></animate>
                </circle></svg>
                </div>
            <% } %>
            
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
    <%- include("./partials/scripts.ejs") %>
                
</body>

</html>