<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/navigation.ejs") %>
    <%- include("./partials/banner.ejs") %> 

    <div class="container my-4" id="alert">
        <div class="row">
            <div class="col">   
                <div class="alert alert-dark d-flex justify-content-between" role="alert">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                            This is a demo website for web learning purposes. Price and description were randomly assigned here and have no real meaning.
                        </div>
                    </div>
                    <button type="button" class="ms-5 btn-close" onclick="document.getElementById('alert').remove()"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="mt-2">New movies</h2>
            <% data.forEach(item=> { %>
                <article class="col-md-2 my-3 order-<%= Math.floor(Math.random() * data.length) %> ">
                    <div class="card shadow">
                        <div class="image-container">
                            <img src="/uploads/<%- item.avatar %>" class="w-100 rounded" alt="<%= (item.avatar).replace(".jpg", "") %>" />
                        </div>
                        <div class="card-body small-overlay">
                            <h6 class="card-title">
                                <%- item.name %>
                            </h6>
                            <small>
                                Price: <%- item.price %>
                            </small>
                        </div>
                    </div>
                </article>
            <% }); %>
        </div>
        <div class="row">
            <h2>Popular movies</h2>
            <% if (data) { %>
                <% data.forEach(item=> { %>
                    <article class="col-lg-3 my-3">
                        <div class="card shadow">
                            <div class="image-container">
                                <%=  %> 
                                <img src="/uploads/<%- item.avatar %>" class="w-100 rounded" alt="<%= (item.avatar).replace(".jpg", "") %>" />
                            </div>
                            <div class="card-body overlay">
                                <h5 class="card-title">
                                    Name: <%- item.name %>
                                </h5>
                                <small>
                                    Price: <%- item.price %>
                                </small>
                                <a href="/booking/<%= item._id %> " class="btn btn-light w-100">Booking Ticket</a>
                            </div>
                        </div>
                    </article>
                <% }); %>
            <% } else { %>
                    <img src="/images/loading.svg" class="w-25 mx-auto my-5 py-5" alt="loading...">
                    <% } %>
                </div>
            </div>

    <%- include("./partials/footer.ejs") %>
    <%- include("./partials/scripts.ejs") %>

</body>

</html>