<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/navigation.ejs") %>

        <div class="container" >
            <div class="row align-items-center" style="min-height: 70vh;">
                    <% if(common.msg) { %>
                    <div class="col-12">
                        <div id="alert" class="alert alert-success alert-dismissible fade show w-50 mx-auto"
                            role="alert">
                            <strong>Successful!</strong>
                            <p><%= common.msg %> Login your account.</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <% } %>
                
                <div class="col-lg-6">
                    <img src="/images/undraw_text_field_htlv.png" alt="undraw_text_field_htlv" class="img-fluid">
                </div>
                <div class="col-lg-6 mx-auto py-5">
                    <form class="border rounded p-5">
                        <h3 class="text-center my-2">Login Account</h3>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text h-100">
                                    <i class="fas fa-envelope"></i>
                                  </span>
                                </div>
                                <input type="email" class="form-control" placeholder="Enter Email or Username" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text h-100">
                                    <i class="fas fa-key"></i>
                                  </span>
                                </div>
                                <input type="password" class="form-control" placeholder="Enter Your Password" />
                            </div>
                        </div>
                        <div class="mb-3 text-center">
                            Don’t have an account? <a href="/register">Create an account</a>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>
        <%- include("./partials/scripts.ejs") %>
                
</body>

</html>